#**Akash Bejugam**

#**Hands on Assignment II**

Importing Libraries required for regression.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import Ridge, Lasso
import numpy as np

In [8]:
data = pd.read_csv('housing.csv')

Dropping the columns Ocean proximity, Longitude and latitude as they are not required for analysis.

In [13]:
data = data.drop(columns = ['ocean_proximity','longitude','latitude'])

To check the Null values in the dataset. The bedroom has 207 null values.

In [18]:
print(data.isna().sum())

housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

In [19]:
data = data.dropna()

In [20]:
print(data.isna().sum())

housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [23]:
x = data.drop(columns=  'median_house_value')
y = data['median_house_value']

In [24]:
scale = StandardScaler()
x_scaled = scale.fit_transform(x)

Spliting the data into test and train by 75% and 25%.

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.25, random_state=42)

**Linear Regression **

In [32]:
linear = LinearRegression()
linear.fit(x_train, y_train)
y_pred_lin = linear.predict(x_test)

In [31]:
print("Mse:", mean_squared_error(y_test, y_pred_lin))
print("R^2:",r2_score(y_test, y_pred_lin))

Mse: 5732163815.914184
R^2: 0.5762999688931235

**Random Forest Regressor**

In [33]:
random = RandomForestRegressor()
random.fit(x_train, y_train)
y_pred_random = random.predict(x_test)

In [34]:
print("Mse:", mean_squared_error(y_test, y_pred_random))
print("R^2:",r2_score(y_test, y_pred_random))

Mse: 4493591593.301106
R^2: 0.6678505780701189

**Ridge Regression**

In [35]:
ridge = Ridge(alpha=0.1)
ridge.fit(x_train, y_train)
y_pred_ridge = ridge.predict(x_test)

In [36]:
print("Mse:", mean_squared_error(y_test, y_pred_ridge))
print("R^2:",r2_score(y_test, y_pred_ridge))

Mse: 5732173755.987447
R^2: 0.5762992341602222

**Lasso Regression**

In [37]:
lasso = Lasso(alpha=0.1)
lasso.fit(x_train, y_train)
y_pred_lasso = lasso.predict(x_test)

In [38]:
print("Mse:", mean_squared_error(y_test, y_pred_lasso))
print("R^2:",r2_score(y_test, y_pred_lasso))

Mse: 5732167183.673238
R^2: 0.5762997199610167

Conculsion:
The R^2 values for the various regression models are:


*   Linear regression: 0.57
*   Random forest regressor : 0.66

*   Rasso regression : 0.57

*   Lasso regression : 0.57


By this R^2 values for different models the random forest regressor as performed well as it has the highest R^2 values.